.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 464px;
  overflow-y: auto;
}

.sum {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sum div {
  display: flex;
}

.onHover {
  outline: 2px solid purple;
}
