.container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 464px;
  overflow-y: auto;
}

.li {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.sum {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sum div {
  display: flex;
}
