ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.title {
  width: 100%;
}

.customs-scroll::-webkit-scrollbar {
  width: 8px;
}
.customs-scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.customs-scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 0px solid #2f2f37;
}
