.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 272px;
}

.card:hover {
  cursor: pointer;
}

.price,
.desc {
  display: flex;
  justify-content: center;
  text-align: center;
}

.counter {
  position: absolute;
  right: 0;
}
