body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.customs-scroll::-webkit-scrollbar {
  width: 8px;
}
.customs-scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.customs-scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 0px solid #2f2f37;
}
